.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1393&q=80");
  background-size: 100%;
  background-position: center;
  font-family: "Carter One", cursive;
  font-size: xx-large;
  color: black;
  filter: drop-shadow(-3px 4px 2px black);
}

.gofort {
  filter: drop-shadow(2px 2px 1px blanchedalmond);
}
